.btn{
margin:30px;
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    animation-name:example;
    animation-duration:4s;
    animation-itertion-count:infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px red;}
    to {box-shadow:1px 1px 38px royalblue}
}